//primary-color1 = #273e82

//secondary-color1 = #962d32


label-color1 = #7d8594
label-color2 = #636d80
label-color3 = lighten(label-color2, 15.5%) //#788397
label-color4 = #717a8a

text-light = #fff

bg-heading = #f2f5f8
bg-aside = #eef0f4
bg-fieldset = #f1f3f6
bg-light = #fff

disabled-c = #9daec2

border-color = #c9c9c9

label-fz = 12px




durGlob = 0.3s
durFixHeader = 0.25s

//mq
mob = 320px
tablet = 768px
desktop = 992px


