include ../helpers/variables
include ../helpers/mixins

+script([], [
	'libs/jquery/jquery-2.1.4.min.js',
	'libs/bootstrap/bootstrap.min.js',
	'libs/swiper/js/swiper.jquery.min.js',
	'main.js',
])

block changeVar

doctype html
html(lang='ru')
	include ../blocks/head/head

	body
		.body-wrap
			.main-container(class="#{classPageAdd || ''}")
				//Header
				block header
					include ../blocks/header/header
				//END-Header

				//Content
				.main-content
					block content
				//END-Content

				//Footer
				block footer
					include ../blocks/footer/footer
				//END-Footer

			block addition-content

		block scripts
			include ../blocks/scripts/scripts
