html, body
	height 100%
	font-family font-family
:focus
	outline none

.body-wrap
	height 100%
	overflow auto

b
strong
	font-weight 500


.ib
	display inline-block
	vertical-align top
.vam
	vertical-align middle

.title
	&-big
		font-size $font-size-h3
.sub-title
	margin-top 20px

.text
	&-xs
		font-size $font-size-small
	&-sm
		font-size label-fz
	&-mid
		font-size $font-size-h5
	&-ellipsis
		width 100%
		overflow hidden
		white-space nowrap
		text-overflow ellipsis


.label
	margin-bottom 4px
	line-height 1.1
	font-weight 200
	font-size label-fz
	color label-color2

.main-container
	position relative
	min-height 100%
	height auto
	padding-bottom 290px
	overflow-y auto
.main-content
	padding-top 30px
	padding-bottom 47px
	&__section
		padding-bottom 40px
		clearfix()
		&:last-of-type
			padding-bottom 0

.second-page
	.main-content
		padding-top 55px


// Content


// Aside



// Columns different actions
.col
	&-xs-padding-off
		padding 0
	@media (min-width: $screen-desktop)
		&-md-padding-off
			padding 0
	@media (min-width: $screen-tablet)
		&-sm-padding-off
			padding 0
	@media (min-width: $screen-desktop)
		&-md-padding-on
			padding-left ceil($grid-gutter-width / 2)
			padding-right floor($grid-gutter-width / 2)
	@media (min-width: $screen-tablet)
		&-sm-padding-on
			padding-left ceil($grid-gutter-width / 2)
			padding-right floor($grid-gutter-width / 2)
	&-alignment
		display table
		width 100%
		> [class^="col-"]
		> [class*="col-"]
			display table-cell
			vertical-align middle
			float none
	&-reverse
		&-left
			float left
		&-right
			float right
		&-xs
			&-left
				float left
			&-right
				float right
			+mq(mob, tablet)
				&-left
				&-right
					float none
				&-right
					margin-bottom 10px
		+mq(mob, desktop)
			&-left
			&-right
				float none
			&-right
				margin-bottom 35px


// Border for blocks
.brdr
	&-top
		border-top 1px solid border-color
	&-bottom
		border-bottom 1px solid border-color


// Separator vertical
.divider-vertical
	position relative
	&:before
		content ''
		background-color border-color
		position absolute
		top 0
		left 100%
		width 2px
		height 100%


.img-stable
	max-width 100%
	height auto


.link-full-block
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	z-index 5



@import 'links'
@import 'lists'
@import 'tables'
@import 'inputs'
@import 'buttons'
@import 'forms'
@import 'pagination'
@import 'dropdowns'