$btn-square
	display inline-block
	position relative
	//width btn-min-size
	//height btn-min-size
	//font-size btn-square-fz
	transition all durGlob

button
	background none
	padding 0
	border none
	cursor pointer



